{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="text-xl-center">

    <div class="text-white"><h1>ยินดีต้อนรับสู่เว็บไซต์ของเรา</h1> </div>
    <div class="text-white"><h2>เรายินดีเป็นอย่างยิ่งที่ได้นำเสนอเว็บของเราอย่างเป็นทางการ</h2></div>


    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/image.jpg' %}" width="800" height="400"
            class="rounded"><br>
    </div>
    <div class="carousel-item active">
      <img src="{% static 'images/imageHome01.jpg' %}" width="800" height="400"
            class="rounded"><br>
    </div>
    <div class="carousel-item active">
      <img src="{% static 'images/imageHome02.jpg' %}" width="800" height="400"
            class="rounded"><br>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
    </div>


    <br><br>
     <a href="{% url 'firstWeb' %}" class="btn btn-dark">
          <i class="fas fa-home"></i>หน้าแรก</a>
     <a href="{% url 'personalRecord' %}" class="btn btn-warning">
         <i class="fas fa-book-user"></i>ประวัติส่วนตัว</a>
     <a href="{% url 'secondpage' %}" class="btn btn-dark">
         <i class="fas fa-school"></i>ประวัติการศึกษา</a>
     <a href="{% url 'thridpage' %}" class="btn btn-warning">
        <i class="far fa-gamepad-alt"></i>สิ่งที่สนใจ</a>
     <a href="{% url 'productsForSale' %}" class="btn btn-dark">
         <i class="fas fa-shopping-basket"></i>สินค้าที่ขาย</a>
     <a href="{% url 'roleModel' %}" class="btn btn-warning">บุคคลต้นแบบ</a>
    <br>
    <br><br><br><br>
    </div>


{% endblock %}
