{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-xl-center">
    <div class="text-warning"><h1>บุคคลที่เป็นแรงบันดาลใจให้กับผม</h1> </div>
    <div class="text-warning"><h2>The person who inspired me.</h2></div>


    <div class="text-white"><h2>Colonel (Harland) Sanders หรือ ผู้พันแซนเดอร์</h2> </div>
    <img src="{% static 'images/imageKFC.jpg'%}" width="800" height="500"
         class='rounded'><br>


  <div class="container mt-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">ประวัติโดยคร่าวๆ</button>
  <div id="demo" class="collapse">
      <div class="text-white">
        ถ้าเอ่ยถึง ฮาร์แลนด์ เดวิด แซนเดอร์ส  หลายคนอาจจะลังเลว่าเขาคือใคร แต่ถ้าบอกว่าเขาคือ “ผู้พันแซนเดอร์ส” คุณลุงหน้าตายิ้มแย้มใจดี
        ที่อยู่บนโลโก้ของเคเอฟซี แบรนด์ร้านอาหารจานด่วนชื่อดังที่มีเครือข่ายขยายไปทั่วโลก และเป็นที่นิยมของคนไทย เชื่อว่าทุกคนต้องร้องอ๋อ! เรารู้จัก
        ผู้พันแซนเดอร์ส ในฐานะผู้ก่อตั้งและคิดค้นไก่ทอดสูตรต้นตำรับเคเอฟซีที่ “ประสบความสำเร็จ” แต่หลายคนอาจจะยังไม่รู้ว่า 65 ปี
        ก่อนหน้าที่เคเอฟซีจะถือกำเนิดขึ้น ชีวิตผู้พันแซนเดอร์สต้องเจอกับ ความล้มเหลว มาแล้วถึง 1,009 ครั้ง! หลายคนอาจท้อแท้ในชีวิตไปแล้ว แต่สำหรับผู้พันแซนเดอร์ส กลับไม่ได้เป็นเช่นนั้น
        อย่างไรก็ตาม ใช่ว่าความสำเร็จจะเกิดขึ้นเพียงชั่วข้ามคืน หลังจากคิดค้นสูตรได้แล้ว ผู้พันแซนเดอร์สต้องเดินไปเคาะประตูบ้านและร้านอาหาร เพื่อนำเสนอไก่ทอด
        แต่กลับถูกปฏิเสธถึง 1,009 ครั้ง และในครั้งที่ 1,010 นั่นเองที่ไก่ทอดของเขาได้รับการยอมรับ ซึ่งเป็นจุดเริ่มต้นของร้านเคเอฟซีแห่งแรกของโลก ณ รัฐเคนตั๊กกี้
        สหรัฐอเมริกา และด้วยรสชาติอันยอดเยี่ยมของไก่ทอดที่ปรุงด้วยสมุนไพรและเครื่องเทศสูตรพิเศษ 11 ชนิด คุณภาพของอาหารที่ปรุงสดใหม่ โดยเฉพาะไก่ที่ปราศจากฮอร์โมนเร่งโต
        หรือสารปรุงแต่ง และกระบวนการผลิตที่ได้มาตรฐานทุกขั้นตอน ทำให้ไก่ทอดเคเอฟซีได้รับความนิยมและขยายสาขาไปอย่างกว้างขวางทั่วโลกนับจากนั้นเป็นต้นมา
        สิ่งที่ผู้พันแซนเดอร์มีมาตลอดชีวิตคือ “ความไม่ย่อท้อ” ต่ออุปสรรคและความล้มเหลวต่างๆ ซึ่งจริงๆ แล้วความสำเร็จเกิดขึ้นได้ไม่ยาก ถ้าเริ่มจาก
        “เปลี่ยนวิธีคิด และค้นหาสิ่งที่ชอบ” มองปัญหาเป็นเพียง “บททดสอบ” ที่จะสร้าง “ภูมิคุ้มกันให้กับชีวิต” ทำให้เราแข็งแกร่ง จากนั้น ค้นหาสิ่งที่ชอบ เหมือนที่ผู้พันแซนเดอร์สมี
        ‘Passion for Food’ ค้นพบว่าตัวเองชอบทำอาหาร จึงสามารถสร้างสรรค์ไก่ทอดสูตรต้นตำรับเคเอฟซีที่โด่งดังไปทั่วโลก
        “สนุกกับทุกๆ ด้านของชีวิต” เมื่อค้นพบสิ่งที่ชอบแล้ว จงมุ่งมั่นและสนุกกับการตามฝัน รวมถึงด้านอื่นๆ ของชีวิต เพราะจะทำให้เกิดพลังมหาศาลที่จะนำไปสู่ความสำเร็จได้ไม่ยาก
         เหมือนที่เรามักเห็นรอยยิ้มของผู้พันแซนเดอร์ส ตลอดเวลา เรียกได้ว่ามี ‘Passion for Life’ ยิ้มสู้ทุกปัญหา
        “เป็นตัวของตัวเอง” เราจะทำสิ่งต่างๆ ได้ดี ถ้าสิ่งนั้นเป็นอะไรที่ออกมาจากใจและตัวตนที่แท้จริง หรือ ‘Originality’ นั่นเอง
        </div>
    </div>
    </div>

    <br><br>
     <a href="{% url 'firstWeb' %}" class="btn btn-dark">
          <i class="fas fa-home"></i>หน้าแรก</a>
     <a href="{% url 'personalRecord' %}" class="btn btn-warning">
         <i class="fas fa-book-user"></i>ประวัติส่วนตัว</a>
     <a href="{% url 'secondpage' %}" class="btn btn-dark">
         <i class="fas fa-school"></i>ประวัติการศึกษา</a>
     <a href="{% url 'thridpage' %}" class="btn btn-warning">
        <i class="far fa-gamepad-alt"></i>สิ่งที่สนใจ</a>
     <a href="{% url 'productsForSale' %}" class="btn btn-dark">
         <i class="fas fa-shopping-basket"></i>สินค้าที่ขาย</a>
     <a href="{% url 'roleModel' %}" class="btn btn-warning">บุคคลต้นแบบ</a>
    <br>
    <br><br><br><br>

    </div>

{% endblock %}
