{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-xl-center">
    <div class="text-white"><h1>สิ่งที่สนใจในชีวิต</h1> </div>
    <div class="text-white"><h2>Things to be interested in in life</h2></div>


    <div class="text-xl-center">
    <img src="{% static 'images/imageGame.jpg'%}" width="400" height="400"
         class='rounded'><br>
    <div class="text-warning"><h1>การเล่นเกม</h1> </div>
    <div class="text-dark"><h1>-------------------------</h1> </div>
    <img src="{% static 'images/imageCooking.jpg'%}" width="400" height="400"
         class='rounded'><br>
    <div class="text-warning"><h1>การทำอาหาร</h1> </div>
        <div class="text-dark"><h1>-------------------------</h1> </div>
    <img src="{% static 'images/imageMusic.jpg'%}" width="400" height="400"
         class='rounded'><br>
    <div class="text-warning"><h1>การฟังเพลง</h1> </div>
    <div class="text-dark"><h1>-------------------------</h1> </div>


    </div>
    <br><br>
     <a href="{% url 'firstWeb' %}" class="btn btn-dark">
          <i class="fas fa-home"></i>หน้าแรก</a>
     <a href="{% url 'personalRecord' %}" class="btn btn-warning">
         <i class="fas fa-book-user"></i>ประวัติส่วนตัว</a>
     <a href="{% url 'secondpage' %}" class="btn btn-dark">
         <i class="fas fa-school"></i>ประวัติการศึกษา</a>
     <a href="{% url 'thridpage' %}" class="btn btn-warning">
        <i class="far fa-gamepad-alt"></i>สิ่งที่สนใจ</a>
     <a href="{% url 'productsForSale' %}" class="btn btn-dark">
         <i class="fas fa-shopping-basket"></i>สินค้าที่ขาย</a>
     <a href="{% url 'roleModel' %}" class="btn btn-warning">บุคคลต้นแบบ</a>
    <br>
    <br><br><br><br>

    </div>

{% endblock %}
